* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #181818;
}

.post {
    display: flex;
    background-color: #252525;
    margin: 1em;
    padding: 1em;
    font-size: 0.6em;
    text-decoration: none;
    color: #eeeeee;
}

.post:visited {
    background-color: #1d1d1d;
    color: #cccccc;
}

.post-title {
    padding-bottom: 1em;
    font-size: 1rem;
}

.post-thumbnail {
    max-width: 20vw;
    min-width: 20vw;
    max-height: 20vw;
    height: auto;
    margin-right: 1em;
    align-self: center;
}

.post-details {
    align-self: center;
    flex-grow: 1;
}

.post-stats {
    align-self: center;
    text-align: center;
}

.post-comments-icon {
    height: 3em;
}

.post-score-icon {
    margin-top: 1.1em;
    height: 2em;
}